

.wrapper {
    display: flex;
    

    .logo {
        /* Center the logo */
        text-align: center;
        background: none;
    }

    .description{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
       
    }
    
    .description h1 {
        margin: 0;
        padding: 0;
        color: #174E8C;
        font-size: 6rem;
        font-weight: 700;
    }

    .description h1 span {
        margin: 0;
        padding: 0;
        color: #6387C5;
    }

    .description p {
        color:  #666666
    }

    .buttons{
        display: flex;

        .btn {
            padding: 16px 51px;
            border: 1px solid #174E8C;
            border-radius: 30px;
            background-color: #174E8C;
            color: #fff;
            text-decoration: none;
            font-size: 15px;
            font-weight: 800;
        }

        .video{
           margin-left: 7%;
           margin-top:2%;
           display: flex;
         .videoText{
            
         margin-top: 4%;
         padding-left: 10px;
               
         }
         
        }
    }

    .devicesolid{
        margin-top: 2% 
    }
    
    
}


